<div class="container"><h2><%= t('contacts.contact_us') %></h2></div>

<div class="container">
	<%= bootstrap_form_for :contact, url: contacts_path do |f| %>
		<% if @contact && @contact.errors.any? %>
			<p>
				<ul>
					<% @contact.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
				</ul>
		  </p>

	  <% end %>

			<%# f.label t('contacts.email') %>
			<%= f.text_field :email %>

			<%# f.label t('contacts.message') %>
			<%= f.text_area :message %>

			<%= f.submit t('contacts.button'), class: "btn btn-primary" %>
	<% end %>
</div>