<div class="container">
  <h2><%= t('organisation.show.title') %></h2>
  <%= simple_form_for @organisation do |f| %>
    <div class="row">
      <div class="col-md-4">
        <%= f.input :name, label: t('organisation.show.title'),input_html: { disabled: "disabled" } %>
      </div>
      <div class="col-md-4">
        <%= f.input :email, label: t('organisation.show.email'), input_html: { disabled: "disabled" } %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <%= f.input :description, label: t('organisation.show.description'), input_html: { disabled: "disabled" } %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <%= link_to t('edit.edit'), edit_organisation_path, class: "btn btn-info btn-lg btn-block", method: :get %>
      </div>
      <div class="col-md-4">
        <%= link_to t('edit.back'), :back, class: "btn btn-secondary btn-lg btn-block", method: :get %>
      </div>
    </div>

  </div>
  <div class="container">
    <br/>
    <% if !@organisation.users.empty? %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= t('table.username') %></th>
            <th><%= t('table.email') %></th>
            <th><%= t('table.name') %></th>
            <th><%= t('table.created_at') %></th>
            <th><%= t('table.last_sign') %></th>
          </tr>
        </thead>
        <tbody>
          <% @organisation.users.each do |user| %>
            <tr>
              <td><%= link_to user.username, user_path(user.id) %></td>
              <td><%= user.email %></td>
              <td><%= full_name(user) %></td>
              <td><%= user.created_at %></td>
              <td><%= user.last_sign_in_at %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

  <% end %>
</div>
